.jumbotron {
    background-image: url("../img/pizzaBG.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron h1 {
    background: silver;
    width: 50%;
    text-align: center;
}

.center {
    text-align: center;
}

.make {
    display: none;
}

.showData {
    margin-right: 20px;
}

#list {
    list-style-type: none;
}

#list li {
    padding-bottom: 20px
}